<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style type="text/css"> 
        body{
           background-image:url("./images/background1.jpg");
            background-size: 1600px 750px;
        }  
        a {
            background-color: #f5fcfd;
           }
        /* p{
            background-color: #f5fcfd;
           } */

     </style>
  </head>
  <body>
    <h3><p style="font-size:70px; font-family:'Times New Roman'; color: black;"><center><br><p style="font-size:70px; font-family:'Times New Roman'; color: black;"><p style="font-size:50px; font-family:'Times New Roman'; color: black;">Service desk</p></h3>
        <div class="main2 container5">
        <p style="font-size:30px; font-family:'Times New Roman'; color: rgb(255, 253, 253);">
                                Service desk is a communication center that provides a Single
                        Point of Contact (SPOC).The purpose of a service desk is to
                        ensure that users receive appropriate help in a timely manner.
                        This project aims at digitizing the problem reporting and solving
                        domain. This aims at handling the events (problems) that are
                        faced by the users in a company in their day to day work
                        environment. There are many tools available in the market which
                        use the ITIL technology. The ITIL technology has many modules
                        and is complicated. Small and medium sized companies cannot
                        afford those tools. This is a simple tool with minimum number of
                        modules which aims at solving the problems of the small and
                        medium sized companies.
    </p>
    </div>
    <a href="/" class="topright" style="color: #1d04fc">LOGOUT</a> 
  </body>
</html>
